NEXT_PUBLIC_SERVER_URL=http://localhost:3000 
NEXT_PUBLIC_APP_NAME=NextAdmin
NEXT_PUBLIC_APP_DESCRIPTION=Next.js 15 Modern Admin Dashboard
ITEMS_PER_PAGE=5

# Copy from .env.local on the Vercel dashboard
# https://nextjs.org/learn/dashboard-app/setting-up-your-database#create-a-postgres-database
POSTGRES_URL=

# NextAuth
# generate AUTH_SECRET by running $ `openssl rand -base64 32`
AUTH_SECRET=wn3VpIYLmoVWpS7adAaByqB96lrHeMd5WJB759cHWeg
AUTH_URL=http://localhost:3000
